<h1>Add Contacts</h1>

<p>Add a contact here:</p>

<form action="/contacts" method="post">
  <label for="name">Contact Name</label>
  <input id="name" name="name" type="text">
  <label for="street">Street Name</label>
  <input id="street" name="street" type="text">
  <label for="city">City Name</label>
  <input id="city" name="city" type="text">
  <label for="state">State Name</label>
  <input id="state" name="state" type="text">
  <label for="zip">Zip Code</label>
  <input id="zip" name="zip" type="text">
  <label for="phones">Phone</label>
  <input id="phones" name="phones" type="text">


  <button type="submit">Add Contacts</button>
</form>
